@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');


html, body {
   overflow-x: hidden;
}

.navbar-nav .nav-item a {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.2rem;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(237, 239, 247)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: #fff;
}

.dropdown-menu .dropdown-item {
   color: #222;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: grey;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.fixed-nav .links a {
  color: hsl(209, 61%, 16%);
}
.fixed-nav .links a:hover {
  color: hsla(182, 63%, 54%);
}


.carousel-item {
  height: 80vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  max-width: 1290px;
  text-align: left;
  min-height: 65vh;
  line-height: 1.3rem;
}

.carousel-caption h1 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Rajdhani', sans-serif;
  margin-bottom: 3%;
}

.carousel-caption h2 {
  font-size: 130px;
  line-height: 60px;
  letter-spacing: 0.25rem;
  font-weight: 400;
  color: #fff;
  font-family: 'Racing Sans One', cursive;
  margin-bottom: 9%;
}

.carousel-caption .butt {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 9px 35px;
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-weight: 400;
    border: 2px solid #ffffff;
    border-radius: 30px;
    color: #ffffff;
    background: none;
    cursor: pointer;
    /* margin-top: 25px; */
    overflow: hidden;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}


@media only screen and (max-width: 919px) {

   .carousel-item {
      height: 90vh;
   }

   .carousel-caption {
      margin-bottom: 5%;
   }

   .carousel-caption h2 {
      font-size: 65px;
      line-height: 60px;
      margin-top: 0px;
      margin-bottom: 5%;
   }
    .carousel-caption h1 {
        font-size: 30px;
    }

}

@media screen and (max-width: 420px) {
   .carousel-caption h2 {
      font-size: 50px;
   }
}

@media screen and (max-width: 299px) {

    .carousel-caption h1 {
        font-size: 20px;
    }
   .carousel-caption h2 {
      font-size: 30px;
   }
}


/*  SECTION TWO */

main {
  height: 600px;
  margin-top: 5%;
  width: 100%;
}

.service {
 max-width: 1200px;
 margin: 0 auto;
 width: 95vw;
 display: grid;
 grid-template-columns: 25% 75%;
 grid-gap: 2em;
}


.first-head {
  height: 600px;
  margin: 10px;
}


.first-head img {
  height: 220px;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1150px) {
   main {
     height: auto;
   }

   .service {
     display: flex;
     flex-direction: column;
   }
   .first-head{
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 15px;
   }
   .second-head {
     margin-left: 1.3%;
   }
}


.first-born {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 5%;
  transition: all 0.2s linear;
  height: 272px;
}

.first-born:hover {
  opacity: 0.8;
  transform: scale(1.02);
  font-weight: bold;
}


.second-born {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s linear;
  height: 272px;
}

.second-born:hover {
  opacity: 0.8;
  transform: scale(1.02);
  font-weight: bold;
}

@media screen and (max-width: 630px) {
   .first-head{
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
   }
}

.first-head p {
  margin-top: 0.5rem;
  font-size: 1.1em;
  letter-spacing: 0.125rem;
  font-weight: 400;
  text-align: center;
  color: crimson;
  font-family: 'Racing Sans One', cursive;
  text-transform: uppercase;
}

.second-head {
 margin-top: 0.7rem;
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-gap: 20px;
}

.second-child {
  max-width: 450px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-bottom: 1.4rem;
  transition: all 0.2s linear;
}


.second-child:hover {
  opacity: 0.8;
  transform: scale(1.02);
  font-weight: bold;
}


@media screen and (max-width: 900px) {
   .second-head {
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
   }
   .second-child {
      grid-template-columns: repeat(auto-fit, minmax(225px, 1fr) );
   }
}


.second-child img {
  margin-top: 0.5em;
  width: 150px;
  height: 150px;
}

.second-bro {
  display: grid;
}

.second-bro h1 {
  margin-top: 1.2em;
  font-size: 1.3em;
  letter-spacing: 0.125rem;
  font-weight: 400;
  text-align: center;
  color: crimson;
  font-family: 'Racing Sans One', cursive;
}

.second-bro p {
  font-size: 0.7em;
  letter-spacing: 0.125rem;
  font-weight: bold;
  width: 95%;
  text-align: center;
  color: #222;
  font-family: 'Rajdhani', sans-serif;
}

@media screen and (max-width: 1150px) {
   .second-child {
      max-width: 590px;
   }

   .second-bro p {
     width: 95%;
     margin: 0 auto;
   }
}

@media screen and (max-width: 1299px) {
   .first-head p {
     font-size: 1em;
   }
   .second-child img {
     width: 100%;
   }

   .second-bro h1 {
     font-size: 1rem;
   }

   .second-bro p {
     font-size: 0.7rem;
   }
}

@media screen and (max-width: 486px) {
   .second-bro p {
     font-size: 0.6rem;
     margin-bottom: 2em;
   }
}

@media screen and (max-width: 331px) {

   .first-born {
      width: 90%;
   }

   .second-born {
      width: 90%;
   }

   .second-child {
     width: 90%;
   }
}

@media screen and (max-width: 295px) {

   .first-born {
      width: 80%;
   }

   .second-born {
      width: 80%;
   }

   .second-child {
     width: 80%;
   }
}

.section-head {
  margin-top: 5%;
  height: 400px;
  background: #292a2e;
  width: 100%;
}

.section-body {
  max-width: 1200px;
  width: 95vw;
  margin: 0 auto;
}

.section-first {
   display: grid;
   text-align: center;
}

.section-first h4 {
  margin-top: 2em;
  font-size: 1.9em;
  letter-spacing: 0.125rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
}

.section-first h1 {
  font-size: 2.7em;
  letter-spacing: 0.125rem;
  font-weight: 900;
  text-align: center;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
}

.section-first h2 {
  font-size: 2.4em;
  letter-spacing: 0.125rem;
  font-weight: 900;
  text-align: center;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
}

.counter-container {
  margin-top: 1.2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.counter-cell {
  display: flex;
  margin: 10px;
  margin-left: 2em;
}

.counter-cell .purecounter {
  font-size: 3em;
  letter-spacing: 0.125rem;
  font-weight: 900;
  text-align: center;
  color: crimson;
  font-family: 'Amiri', serif;
}

.counter-cell .counter-info {
  font-size: 1.8em;
  letter-spacing: 0.125rem;
  font-weight: 500;
  text-align: center;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  margin-right: 1em;
}

.counter-info span {
  font-weight: 900;
  color: white;
  font-family: 'Rajdhani', sans-serif;
}

@media screen and (max-width: 1009px) {

    .section-head {
      height: auto;
    }

    .section-first h1 {
       font-size: 2rem;
       font-weight: 600;
    }

    .section-first h2 {
       font-size: 1.7rem;
    }

    .counter-container {
       grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
    }
}

@media screen and (max-width: 642px) {
   .counter-container {
      text-align: center;
      place-items: center;
   }

   .counter-cell {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
   }

    .section-first h1 {
       font-size: 1.4rem;
    }

     .section-first h4 {
       font-size: 1.6rem;
    }

    .section-first h2 {
       font-size: 1.2rem;
    }

    .counter-cell .counter-info {
       font-size: 1.1rem;
    }
}


/* GENERAL QUESTIONS AND WORKERS */

.head-container  {
  height: 600px;
  width: 100%;
  margin-top: 5%;
}

.main-container {
   display: grid;
   max-width: 1200px;
   width: 90vw;
   margin: 0 auto;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
}

.title {
  margin-top: 5%;
  margin-bottom: 2rem;
}
.title h2 {
  color: crimson;
  font-family: 'Amiri', serif;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.question {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title p {
  margin-bottom: 0;
  letter-spacing: 0.125rem;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(209, 61%, 16%);
}
.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: crimson;
  transition: all 0.3s linear;
}
.question-btn:hover {
  transform: rotate(90deg);
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
  margin-bottom: 0;
  font-family: 'Rajdhani', sans-serif;
  color: #222;
  font-weight: 200;
}

.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}

@media screen and (max-width: 642px) {
   .title h2 {
     font-size: 1.2rem;
   }

   .question-title p {
     font-size: 0.9rem;
   }

   .question-btn {
     font-size: 1.2rem;
     font-weight: 300;
   }

   .question-text p {
     font-size: 0.7rem;
   }
}


.cont {
  margin-top: 4%;
  width: 600px;
  height: 300px;
}

.cont h1 {
  color: crimson;
  font-family: 'Amiri', serif;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.obey {
  height: 62vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.yes {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.no {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel .come li {background-color: white;}
.carousel .come li.active {background-color: black;}

@media screen and (max-width: 1040px) {
   .main-container {
      display: flex;
      flex-direction: column;
      margin: 10px;
   }

   .head-container {
     height: auto;
     margin-bottom: 3%;
   }
   .cont {
     width: 100%;
     height: auto;
   }
}

/*  footer  */

footer {
  height: auto;
}

.footer-sub {
  min-height: 25vh;
  display: grid;
  place-items: center;
  background: #222;
}

.footer-sub p {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.125rem;
  margin-bottom: 0;
  font-family: 'Amiri', serif;
  font-weight: 2rem;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: crimson;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  color: #fff;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
  text-decoration: none;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.cent {
   background: #fff;
   width: 100%;
   margin-top: 5%;
   margin-bottom: 5%;
   height: 190px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section-cent {
    width: 90vw;
    margin: 0 auto;
    max-width: 1200px;
}
.section-cent h3 {
    font-family: 'Racing Sans One', cursive;
    color: crimson;
    text-transform: none;
     margin-top: 2rem;
}
.content p {
    line-height: 2;
    max-width: 45em;
    color: #222;
    font-family: 'Rajdhani', sans-serif;
}
.contact-form {
    width: 90vw;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr auto;
}
.form-input,
.submit-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid #222;
}
.form-input {
    border-right: none;
    color: #222;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.submit-btn {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.form-input::placeholder {
    color: #222;
    text-transform: capitalize;
}
.submit-btn {
    background: crimson;
    text-transform: capitalize;
    letter-spacing: 0.125rem;
    cursor: pointer;
    transition: al 0.2s linear;
    color: #fff;
}
.submit-btn:hover {
    color: #fff;
}

@media (min-width: 992px) {
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 8rem;
      margin-top: 2rem;
    }
    p {
      margin-bottom: 0;
    }
}
@media (min-width: 1280px) {
    padding: 15rem 0;
}

@media screen and (max-width: 640px) {
    .cent {
      height: auto;
      margin-bottom: 3rem;
    }

    .section-cent h3 {
      font-size: 1.2rem;
    }

    .content p {
      font-size: 0.9rem;
    }

    .form-input,
    .submit-btn {
      font-size: 0.6rem;
      padding: 0.5rem 0.5rem;
      border: 1px solid #222;
    }
  }

@media screen and (max-width: 1400px) {
   .carousel-item {
      height: 80vh;
   }
}

.butt {
  text-transform: uppercase;
  background: #fff
  color: var(--clr-primary-9);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}


.form-group1 {
  margin-bottom: 0;
}

.col-form-label {
  line-height: 1;
  font-weight: 600;
  font-family: 'Rajdhani', sans-serif;
}

.yeah {
  padding: 1.5rem;
}

.boobs {
  margin-bottom: 0.6rem;
}

/* login form */

.field {
  width: 50%;
  position: relative;
  top: 20%;
  left: 20%;
  margin: 10px;
  padding: 1em 2em;
  font-size: 0.8em;
  text-align: stretch;
  background: white;
}

.form-group1 {
  margin-bottom: 0.5rem;
}

.join {
  font-weight: bold;
  font-size: 1.4em;
  font-weight: 800;
  background: #3c96d6;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.man {
  margin-top: 1.2rem;
  font-size: 1.3em;
  letter-spacing: 0.125rem;
  font-weight: 400;
  font-family: 'Rajdhani', sans-serif;
}

.man a {
  color: rgba(220, 20, 60, 0.6);
}

@media screen and (max-width: 1050px) {
    .field {
       width: 80%;
       left: 10%;
    }
}

@media screen and (max-width: 650px) {
    .field {
       width: 90%;
       left: 0%;
    }
}

/* logout form */

.logout {
  height: 200px;
  width: 100%;
  margin-top: 7%;
}

.logout-body {
  max-width: 700px;
  width: 90vw;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1em 2em;
  border: 1px solid silver;
}

.logout-body h1 {
  margin-top: 0.5rem;
  font-size: 1.6em;
  letter-spacing: 0.125rem;
  font-weight: 400;
  color: crimson;
  font-family: 'Racing Sans One', cursive;
  text-transform: uppercase;
}

.logout-body h3 {
  margin-top: 0.5rem;
  font-size: 1.4em;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: #222;
  font-family: 'Rajdhani', sans-serif;
}

.logout-body a {
   font-weight: 500;
   font-family: 'lato', sans-serif;
}

@media screen and (max-width: 1000px) {
   .logout {
      height: auto;
   }

   .logout-body h3 {
      font-size: 1em;
   }
}

.video {
  height: 100vh;
  width: 100%;
}

.video-main {
  max-width: 1200px;
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}


.video-head video {
   object-fit: cover;
   width: 600px;
   margin-top: 12%;
}

.video-body h1 {
  margin-top: 5%;
  padding: 0 1.7rem;
  font-size: 1.8rem;
  text-align: left;
  letter-spacing: 0.125rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: crimson;
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
}

.video-body p {
   margin-top: 1%;
   font-size: 1rem;
   font-weight: 400;
   letter-spacing: 0.125rem;
   font-family: "Rajdhani", sans-serif;
   color: #222;
   line-height: 1.5;
   margin: 10px;
   margin-bottom: 5%;
   text-align: left;
   padding: 0 1.3rem;
}

@media screen and (max-width: 1180px) {
    .video-main {
      max-width: 800px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }

    .video-head video {
      width: 100%;
      margin-top: 5%;
    }

    .video-body h1 {
      font-size: 2rem;
      padding: 0 0.3rem;
    }

    .video-body p {
      width: 100%;
      padding: 0;
    }

    .video {
      height: auto;
      margin-bottom: 4%;
    }
}
/* .........................  */
/* ......................... */
